In [3]:
import pandas as pd

In [4]:
import numpy as np

In [3]:
labels = ['a','b','c'] 
my_data=[10,20,30]
nparr = np.array(my_data)
dic = {'a':10,'b':20,'c':30}

In [4]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(nparr,labels)

a    10
b    20
c    30
dtype: int32

In [6]:
pd.Series(dic)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1=pd.Series(data=[1,2,3,4],index=['INDIA','Singapore','USA','Japan'])

In [14]:
ser2=pd.Series(data=[1,2,5,4],index=['INDIA','Singapore','Italy','Japan'])

In [10]:
ser1[0]

1

In [11]:
ser1['INDIA']

1

In [15]:
ser1+ser2 # sum convert to floats

INDIA        2.0
Italy        NaN
Japan        8.0
Singapore    4.0
USA          NaN
dtype: float64

In [5]:
from numpy.random import randn

In [20]:
np.random.seed(101)

In [21]:
randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [22]:
randn(10)

array([ 0.30266545,  1.69372293, -1.70608593, -1.15911942, -0.13484072,
        0.39052784,  0.16690464,  0.18450186,  0.80770591,  0.07295968])

In [6]:
df=pd.DataFrame(data=randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])

In [24]:
df

          W         X         Y         Z
A  0.638787  0.329646 -0.497104 -0.754070
B -0.943406  0.484752 -0.116773  1.901755
C  0.238127  1.996652 -0.993263  0.196800
D -1.136645  0.000366  1.025984 -0.156598
E -0.031579  0.649826  2.154846 -0.610259

In [25]:
type(df)

pandas.core.frame.DataFrame

In [27]:
type(df['X'])

pandas.core.series.Series

In [28]:
df[['X','Y']]

          X         Y
A  0.329646 -0.497104
B  0.484752 -0.116773
C  1.996652 -0.993263
D  0.000366  1.025984
E  0.649826  2.154846

In [29]:
df['newColumnSum'] = df['W'] + df['Y']

In [30]:
df

          W         X         Y         Z  newColumnSum
A  0.638787  0.329646 -0.497104 -0.754070      0.141683
B -0.943406  0.484752 -0.116773  1.901755     -1.060180
C  0.238127  1.996652 -0.993263  0.196800     -0.755137
D -1.136645  0.000366  1.025984 -0.156598     -0.110660
E -0.031579  0.649826  2.154846 -0.610259      2.123267

In [31]:
df.drop('junk')

ValueError: labels ['junk'] not contained in axis

In [32]:
df.drop('newColumnSum')

ValueError: labels ['newColumnSum'] not contained in axis

In [33]:
df.drop('newColumnSum',axis=1)

          W         X         Y         Z
A  0.638787  0.329646 -0.497104 -0.754070
B -0.943406  0.484752 -0.116773  1.901755
C  0.238127  1.996652 -0.993263  0.196800
D -1.136645  0.000366  1.025984 -0.156598
E -0.031579  0.649826  2.154846 -0.610259

In [34]:
df

          W         X         Y         Z  newColumnSum
A  0.638787  0.329646 -0.497104 -0.754070      0.141683
B -0.943406  0.484752 -0.116773  1.901755     -1.060180
C  0.238127  1.996652 -0.993263  0.196800     -0.755137
D -1.136645  0.000366  1.025984 -0.156598     -0.110660
E -0.031579  0.649826  2.154846 -0.610259      2.123267

In [36]:
df.drop('newColumnSum',axis=1,inplace=True)

In [37]:
df

          W         X         Y         Z
A  0.638787  0.329646 -0.497104 -0.754070
B -0.943406  0.484752 -0.116773  1.901755
C  0.238127  1.996652 -0.993263  0.196800
D -1.136645  0.000366  1.025984 -0.156598
E -0.031579  0.649826  2.154846 -0.610259

In [8]:
df[['Y','Z']]

          Y         Z
A  0.756357 -1.296667
B -0.953013  0.360837
C  1.197335  1.224224
D -1.149105 -1.078812
E  1.157881  0.231433

In [9]:
df.loc['A']

W    0.408923
X    0.696848
Y    0.756357
Z   -1.296667
Name: A, dtype: float64

In [10]:
df.iloc[2]

W    0.832584
X   -0.476292
Y    1.197335
Z    1.224224
Name: C, dtype: float64

In [11]:
df.loc[['C','D'],['X','Y']]

          X         Y
C -0.476292  1.197335
D  1.689817 -1.149105

In [12]:
df.iloc[0]

W    0.408923
X    0.696848
Y    0.756357
Z   -1.296667
Name: A, dtype: float64

In [13]:
#CONDITIONAL SELECTION
booldf=df >0
df[booldf]

          W         X         Y         Z
A  0.408923  0.696848  0.756357       NaN
B  0.102920  0.283734       NaN  0.360837
C  0.832584       NaN  1.197335  1.224224
D  1.876165  1.689817       NaN       NaN
E  0.031669  0.296490  1.157881  0.231433

In [14]:
# conditional selection on columns 
df[df['Z'] < 0]

          W         X         Y         Z
A  0.408923  0.696848  0.756357 -1.296667
D  1.876165  1.689817 -1.149105 -1.078812

In [19]:
# Return of conditional statement is df ,which means we can apply all df operations
df[[df['W'] >= 0 & df['W'] < 1]]

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [39]:
result =df[(df['W'] >= 0) & (df['W'] <= 1.5)]
result

          W         X         Y         Z
A  0.408923  0.696848  0.756357 -1.296667
B  0.102920  0.283734 -0.953013  0.360837
C  0.832584 -0.476292  1.197335  1.224224
E  0.031669  0.296490  1.157881  0.231433

In [24]:
df['W'] != 1

A    True
B    True
C    True
D    True
E    True
Name: W, dtype: bool

In [37]:
filter_cond= (df['W'] >= 0) & (df['X'] <=1)
df[filter_cond]

          W         X         Y         Z
A  0.408923  0.696848  0.756357 -1.296667
B  0.102920  0.283734 -0.953013  0.360837
C  0.832584 -0.476292  1.197335  1.224224
E  0.031669  0.296490  1.157881  0.231433

In [31]:
boolser=df['W'] < 1.5
result = df[boolser]
interestedcol= ['Y', 'X']
result[interestedcol]

          Y         X
A  0.756357  0.696848
B -0.953013  0.283734
C  1.197335 -0.476292
E  1.157881  0.296490

In [35]:
df[df['W'] < 1.5][['Y','X']]

          Y         X
A  0.756357  0.696848
B -0.953013  0.283734
C  1.197335 -0.476292
E  1.157881  0.296490

In [40]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.408923  0.696848  0.756357 -1.296667
1     B  0.102920  0.283734 -0.953013  0.360837
2     C  0.832584 -0.476292  1.197335  1.224224
3     D  1.876165  1.689817 -1.149105 -1.078812
4     E  0.031669  0.296490  1.157881  0.231433

In [41]:
newindex='P Y T H O'.split()

In [42]:
df.set_index(newindex)

KeyError: 'P'

In [43]:
df['Lang']=newindex

In [44]:
df

          W         X         Y         Z Lang
A  0.408923  0.696848  0.756357 -1.296667    P
B  0.102920  0.283734 -0.953013  0.360837    Y
C  0.832584 -0.476292  1.197335  1.224224    T
D  1.876165  1.689817 -1.149105 -1.078812    H
E  0.031669  0.296490  1.157881  0.231433    O

In [45]:
df.reset_index('Lang')

KeyError: 'Level Lang must be same as name (None)'

In [46]:
df.set_index('Lang')

             W         X         Y         Z
Lang
P     0.408923  0.696848  0.756357 -1.296667
Y     0.102920  0.283734 -0.953013  0.360837
T     0.832584 -0.476292  1.197335  1.224224
H     1.876165  1.689817 -1.149105 -1.078812
O     0.031669  0.296490  1.157881  0.231433

In [47]:
df

          W         X         Y         Z Lang
A  0.408923  0.696848  0.756357 -1.296667    P
B  0.102920  0.283734 -0.953013  0.360837    Y
C  0.832584 -0.476292  1.197335  1.224224    T
D  1.876165  1.689817 -1.149105 -1.078812    H
E  0.031669  0.296490  1.157881  0.231433    O

In [48]:
df.loc[['D'],['X','Y']]

          X         Y
D  1.689817 -1.149105

In [49]:
df.loc['D']

W       1.87616
X       1.68982
Y      -1.14911
Z      -1.07881
Lang          H
Name: D, dtype: object

In [50]:
df[(df['W'] >= 0.1) & (df['Y'] > 0 )]

          W         X         Y         Z Lang
A  0.408923  0.696848  0.756357 -1.296667    P
C  0.832584 -0.476292  1.197335  1.224224    T

In [51]:
df[(df['W'] >= 0.1) & (df['Y'] > 0 )][['X','Y']]

          X         Y
A  0.696848  0.756357
C -0.476292  1.197335

In [52]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [53]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [54]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [55]:
midf=pd.DataFrame(data=randn(6,2),index=hier_index,columns=['A','B'])

In [56]:
midf

             A         B
G1 1 -3.056976 -0.720777
   2 -0.381638 -0.766042
   3  1.704861 -1.535885
G2 1  2.368660 -0.010079
   2 -0.122236 -1.031525
   3  0.376649 -1.023950

In [57]:
midf.loc['G1'].loc[[1,2]]

          A         B
1 -3.056976 -0.720777
2 -0.381638 -0.766042

In [58]:
midf.index.names

FrozenList([None, None])

In [59]:
midf.index.names=['Groups','SubGroup']

In [60]:
midf

                        A         B
Groups SubGroup
G1     1        -3.056976 -0.720777
       2        -0.381638 -0.766042
       3         1.704861 -1.535885
G2     1         2.368660 -0.010079
       2        -0.122236 -1.031525
       3         0.376649 -1.023950

In [61]:
midf.loc['G2'].loc[[2],['B']]

                 B
SubGroup
2        -1.031525

In [64]:
# cross section 
midf.xs(1,level=1)

               A         B
Groups
G1     -3.056976 -0.720777
G2      2.368660 -0.010079

In [65]:
midf.xs(1,level='SubGroup')

               A         B
Groups
G1     -3.056976 -0.720777
G2      2.368660 -0.010079

In [66]:
# Missing data 
dic={'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [67]:
dic

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [68]:
missingdf=pd.DataFrame(dic)

In [69]:
missingdf

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [70]:
# default row 
missingdf.dropna()

     A    B  C
0  1.0  5.0  1

In [71]:
missingdf.dropna(axis=1)

   C
0  1
1  2
2  3

In [72]:
missingdf.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [73]:
missingdf.fillna(value='Fill value Try')

                A               B  C
0               1               5  1
1               2  Fill value Try  2
2  Fill value Try  Fill value Try  3

In [74]:
missingdf['A']

0    1.0
1    2.0
2    NaN
Name: A, dtype: float64

In [76]:
missingdf['A'].fillna(value=missingdf['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [77]:
# Group by 
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [78]:
groupbydf= pd.DataFrame(data)

In [79]:
groupbydf

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [83]:
bycomp = groupbydf.groupby('Company')

In [84]:
type(bycomp)

pandas.core.groupby.DataFrameGroupBy

In [85]:
bycomp.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [86]:
bycomp.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [87]:
bycomp.sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [88]:
groupbydf.groupby('Company').sum().loc['FB']

Sales    593
Name: FB, dtype: int64

In [89]:
groupbydf.groupby('Company').count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [90]:
groupbydf.groupby('Company').describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [91]:
dfoperations = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
dfoperations.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [92]:
# Find unique values in col2 
dfoperations['col2'].unique()

array([444, 555, 666], dtype=int64)

In [93]:
dfoperations['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [97]:
dfoperations[(dfoperations['col1'] > 2) & (dfoperations['col2']==444)]

   col1  col2 col3
3     4   444  xyz

In [98]:
def times2(x):
    return x*2

In [99]:
dfoperations['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [102]:
type(dfoperations['col3'])

pandas.core.series.Series

In [104]:
dfoperations['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [105]:
dfoperations['col3'].apply(lambda x : x.split('a'))

0    [, bc]
1     [def]
2     [ghi]
3     [xyz]
Name: col3, dtype: object

In [106]:
dfoperations['col2'].apply(lambda x : x**2)

0    197136
1    308025
2    443556
3    197136
Name: col2, dtype: int64

In [107]:
dfoperations.drop('col2',axis=1)

   col1 col3
0     1  abc
1     2  def
2     3  ghi
3     4  xyz

In [108]:
dfoperations.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [109]:
dfoperations.index

RangeIndex(start=0, stop=4, step=1)

In [111]:
dfoperations.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [112]:
dfoperations.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [113]:
# pivot operations
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

dfPivot = pd.DataFrame(data)

In [114]:
dfPivot

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [115]:
dfPivot.pivot(columns='C',values='D')

C    x    y
0  1.0  NaN
1  NaN  3.0
2  2.0  NaN
3  NaN  5.0
4  4.0  NaN
5  NaN  1.0

In [127]:
modespivotoper ={
        'SpectrumId':
[1
,1
,1
,1
,1
,2
,2
,2
,2
,2
,3
,3
,3
,3
,3],
    'Mode':[
        851.3385
,851.86031
,852.33029
,852.76528
,853.18932
,851.31508
,851.82475
,852.27772
,852.70055
,853.12045
,851.84607
,852.30928
,852.8595
,853.2896
,853.74246
    ],
    'PowerInDbm':[
        -39.7
,-23.73
,-4.22
,-5.53
,-26.16
,-39.89
,-27.98
,-4.94
,-4.98
,-25.96
,-40.67
,-27.73
,-5.08
,-4.85
,-21.6
    ],
    'ModeName':[
        'Mode0'
,'Mode1'
,'Mode2'
,'Mode3'
,'Mode4'
,'Mode0'
,'Mode1'
,'Mode2'
,'Mode3'
,'Mode4'
,'Mode0'
,'Mode1'
,'Mode2'
,'Mode3'
,'Mode4'
    ]
}

In [137]:
dfmodespivot = pd.DataFrame(modespivotoper)

In [134]:
dfmodespivot.pivot_table(index=['SpectrumId'],  columns=['ModeName'],values=['Mode'],aggfunc='mean') # agg function is default

                 Mode
ModeName        Mode0      Mode1      Mode2      Mode3      Mode4
SpectrumId
1           851.33850  851.86031  852.33029  852.76528  853.18932
2           851.31508  851.82475  852.27772  852.70055  853.12045
3           851.84607  852.30928  852.85950  853.28960  853.74246

In [138]:
dfmodespivot

         Mode ModeName  PowerInDbm  SpectrumId
0   851.33850    Mode0      -39.70           1
1   851.86031    Mode1      -23.73           1
2   852.33029    Mode2       -4.22           1
3   852.76528    Mode3       -5.53           1
4   853.18932    Mode4      -26.16           1
5   851.31508    Mode0      -39.89           2
6   851.82475    Mode1      -27.98           2
7   852.27772    Mode2       -4.94           2
8   852.70055    Mode3       -4.98           2
9   853.12045    Mode4      -25.96           2
10  851.84607    Mode0      -40.67           3
11  852.30928    Mode1      -27.73           3
12  852.85950    Mode2       -5.08           3
13  853.28960    Mode3       -4.85           3
14  853.74246    Mode4      -21.60           3

In [139]:
dfmodespivot.pivot_table(columns=['ModeName'],values=['Mode'],aggfunc='mean') # agg function is default

ModeName       Mode0       Mode1      Mode2       Mode3       Mode4
Mode      851.499883  851.998113  852.48917  852.918477  853.350743

In [140]:
dfmodespivot.pivot_table(columns=['SpectrumId', 'ModeName'],values=['Mode'],aggfunc='mean') # agg function is default

      SpectrumId  ModeName
Mode  1           Mode0       851.33850
                  Mode1       851.86031
                  Mode2       852.33029
                  Mode3       852.76528
                  Mode4       853.18932
      2           Mode0       851.31508
                  Mode1       851.82475
                  Mode2       852.27772
                  Mode3       852.70055
                  Mode4       853.12045
      3           Mode0       851.84607
                  Mode1       852.30928
                  Mode2       852.85950
                  Mode3       853.28960
                  Mode4       853.74246
dtype: float64

In [142]:
dfmodespivot.pivot_table(index='SpectrumId',columns=['ModeName'],values=['PowerInDbm','Mode'],aggfunc='min') # agg function is default

                 Mode                                             PowerInDbm  \
ModeName        Mode0      Mode1      Mode2      Mode3      Mode4      Mode0
SpectrumId
1           851.33850  851.86031  852.33029  852.76528  853.18932     -39.70
2           851.31508  851.82475  852.27772  852.70055  853.12045     -39.89
3           851.84607  852.30928  852.85950  853.28960  853.74246     -40.67


ModeName    Mode1 Mode2 Mode3  Mode4
SpectrumId
1          -23.73 -4.22 -5.53 -26.16
2          -27.98 -4.94 -4.98 -25.96
3          -27.73 -5.08 -4.85 -21.60